.tablazat {
    display: flex;
    align-content: flex-start;
}

.gomb {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

.oszlop {
    flex: 0 1 30%;
}

.rejtett {
    opacity: 0;
}

textarea {
    white-space: pre-line;
    overflow: hidden;
    resize: none;
    width: 180px;
    font-family: inherit;
    font-size: inherit;
    line-height: 1.5;
}